*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    width: 100%;
    position: relative;
    font-family: 'arial', sans-serif;
}

::selection{
    background: black;
    color: white;
}

.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: white;
    z-index: 9;
}

.links-container{
    display: flex;
    list-style: none;
}

.link{
    padding:10px;
    margin-left:10px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

.header{
    margin-top:60px;
    width: 100%;
    height: 600px;
    color: white;
    background: url(../Img/header.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    border-radius: 30px;
    padding: 10px 20px;
    background: gray;
    color: white;
}
.btn{
    width: 100%;
    height: 100%;
    color: white;
    background: none;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: capitalize;
}


.sectionBlogs{
    width: 100%;
    padding:50px 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px
}

.imgSection{
    width: 100%;
    height: 100%;
}

.textSection{
    align-items: center;
    text-align: center;
}

.blogImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}

.blogExtract{
    margin: 10px 0 20px;
    line-height: 30px;
}

.dark{
    background: black;
}
